.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.img1{
    width: 150px;
    padding: 20px;
}
.img2{
    /* width: 100px; */
    padding: 20px;
}